#map-page, #map-canvas {
    width: 100%;
    height: 50%;
    padding: 0;
}

#About, #map-canvas1 {
    width: 100%;
    height: 50%;
    padding: 0;
}

#Direction, #map-canvas2 {
    width: 100%;
    height: 50%;
    padding: 0;
}

#SelectLocation, #map-canvas3 {
    width: 100%;
    height: 90%;
    padding: 0;
}

#panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

#directions-panel {
    height: 100%;
    float: right;
    width: 100%;
    overflow: auto;
    color:whitesmoke;
}

#control {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
}


